<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="./assets/img/about.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="border-start border-5 border-primary ps-5 mb-5">
                    <h6 class="text-primary text-uppercase">About Us</h6>
                    <h1 class="display-5 text-uppercase mb-0">We Keep Your Pets Happy All Time</h1>
                </div>
                <h4 class="text-body mb-4">Diam dolor diam ipsum tempor sit. Clita erat ipsum et lorem stet no labore
                    lorem sit clita duo justo magna dolore</h4>
                <div class="bg-light p-4">
                    <ul class="nav nav-pills justify-content-between mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item w-50" role="presentation">
                            <button class="nav-link text-uppercase w-100 active" id="pills-1-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-1" type="button" role="tab" aria-controls="pills-1"
                                aria-selected="true">Our Mission</button>
                        </li>
                        <li class="nav-item w-50" role="presentation">
                            <button class="nav-link text-uppercase w-100" id="pills-2-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-2" type="button" role="tab" aria-controls="pills-2"
                                aria-selected="false">Our Vission</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-1" role="tabpanel"
                            aria-labelledby="pills-1-tab">
                            <p class="mb-0">At Milocaninos, our mission is to provide a loving and secure environment for every dog in need. We are committed to finding forever homes for homeless dogs, ensuring their well-being through responsible adoption practices, and offering specialized care and training to enhance their quality of life. We advocate for the humane treatment of all animals and strive to create a community where every dog receives the love and respect they deserve.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
                            <p class="mb-0">Milocaninos dreams of a world where every dog is adored, residing in homes overflowing with love and compassion. We work tirelessly to eradicate abandonment and cruelty, advocating for responsible pet ownership and universal empathy toward animals. Our vision is a future where every wag of a dog's tail represents a life filled with happiness, security, and unbreakable bonds, encompassing a world where no dog is left behind or unloved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>