<div class="container-fluid bg-morado py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-start">
            <div class="col-lg-8 text-center text-lg-start">
                <h1 class="display-1 fw-bold text-uppercase text-dark mb-lg-4">Milocaninos</h1>
                <h1 class="text-uppercase fw-bold text-white mb-lg-4">Make Your Pets Happy</h1>
                <p class="fs-4 text-white mb-lg-4">Embracing Paws, Changing Lives. Milocaninos: Where Love Meets Fur. Fostering Hope, One Adoption at a Time. Your Home, Their Haven. Adopt, Love, Cherish: Milocaninos Cares.</p>
                <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                    <a href="#about" class="btn btn-outline-light border-2 py-md-3 px-md-5 me-5">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>