<div class="container-fluid py-5">
    <div class="container">
        <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
            <h6 class="text-primary text-uppercase">Services</h6>
            <h1 class="display-5 text-uppercase mb-0">Our Excellent Pet Care Services</h1>
        </div>
        <div class="row g-5">
            <div class="col-md-6">
                <div class="service-item bg-light d-flex p-4">
                    <i class="fa-solid fa-shield-dog"></i>
                    <div>
                        <h5 class="text-uppercase mb-3">Responsible Adoption</h5>
                        <p>At Milocaninos, we are dedicated to finding loving homes for dogs in need. We offer a
                            comprehensive adoption service that includes home assessments, perfect matching between the
                            dog and the family, and post-adoption follow-ups to ensure all the dog's needs are properly
                            met.</p>
                        <a class="text-primary text-uppercase" href="/contact">Contact us<i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-item bg-light d-flex p-4">
                    <i class="fa-solid fa-house-medical-circle-check"></i>
                    <div>
                        <h5 class="text-uppercase mb-3">Elderly Dog Care</h5>
                        <p>We understand that older dogs require special care and a lot of love. We provide dedicated
                            care services for elderly dogs, including regular veterinary attention, diets tailored to
                            their needs, and a peaceful home environment for them to spend their golden years
                            comfortably and affectionately.</p>
                        <a class="text-primary text-uppercase" href="/contact">Contact us<i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-item bg-light d-flex p-4">
                    <i class="fa-solid fa-dumbbell"></i>
                    <div>
                        <h5 class="text-uppercase mb-3">Personalized Canine Training</h5>
                        <p>We recognize the importance of having a well-behaved and socialized dog. We offer
                            personalized training sessions for dogs of all ages and skill levels. Our expert trainers
                            work with you and your dog to address behavior issues, teach basic commands, and encourage
                            positive socialization.</p>
                        <a class="text-primary text-uppercase" href="/contact">Contact us<i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-item bg-light d-flex p-4">
                    <i class="fa-solid fa-hospital"></i>
                    <div>
                        <h5 class="text-uppercase mb-3">Temporary and Emergency Care</h5>
                        <p>We provide temporary and emergency care services for dogs whose owners are facing unexpected
                            situations such as hospitalization, natural disasters, or displacement. We take care of
                            providing a safe and loving environment for the dogs while their families recover from their
                            challenging circumstances.</p>
                        <a class="text-primary text-uppercase" href="/contact">Contact us<i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>